* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 900px;
  margin: 10px auto;
  padding: 0 1rem;
}

h1 {
  margin-bottom: 0.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: rgb(92, 92, 92);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul > li {
  padding: 1rem 2rem;
}

ul > li a {
  font-size: 1.5rem;
  transition: 0.5s background-color;
}

ul > li:hover {
  background-color: rgb(40, 40, 40);
}

ul > li a {
  text-decoration: none;
  color: #fff;
}

.active {
  color: rgb(198, 198, 198);
}
